<div class="container">
    <h2>Hoverable Dark Table</h2>
    <div class="row">
        <div class="col-md-6">
            <p>
              <a href="user" class="btn btn-secondary">Back</a>
                <a href="user/add" class="btn btn-primary">Thêm</a>
                <button class="btn btn-warning" id="list_delete">List deleted</button>
            </p>
            
        </div>
        <div class="col-md-6">
            <form class="form-inline justify-content-end" id="btn_search">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" id="text_search">
                <button class="btn btn-success" type="submit">Search</button>
              </form>
        </div>
    </div>
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody id="table">
          <%- str%>
      </tbody>
    </table>
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
</div>

  <!-- The Modal -->
<script>
  $(document).ready(function(){
    $('#btn_search').on('submit', function(e){
      e.preventDefault();
      text_search = $('#text_search').val();
      $.ajax({
          url:'search_data',
          type:'POST',
          data: { 'text_search': text_search},
          success: function (result) {
            $('#table').empty();
            let search_data =''
            result.forEach((v)=>{
              search_data += `<tr id="`+v._id+`">
                        <td>`+v.name+`</td>
                        <td>`+v.username+`</td>
                        <td>
                            <a href="product/edit/1" class="btn btn-info">Sửa</a>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal`+v._id+`">Xóa</button>
                        </td>
                    </tr>`
            });
            $('#table').append(search_data)
          }
      });
      return false;
  });
  $('#list_delete').click(function(e){
    e.preventDefault();
    $.ajax({
          url:'list_delete',
          type:'POST',
          success: function (result) {
            $('#table').empty();
            $('#table').append(result);
          }
      });
      return false;
  });
});

function delete_data (id){
  $.ajax({
          url:'update_status',
          type:'POST',
          data: {id: id},
          success: function (result) {
            alert(result);
            $('#'+id).remove();
            location.reload();
          }
  });
}
function delete_database (id){
  $.ajax({
          url:'delete_database',
          type:'POST',
          data: {id: id},
          success: function (result) {
            alert(result);
            $('#'+id).remove();
          }
  });
}

function get_data_again (id){
  $.ajax({
          url:'get_data_again',
          type:'POST',
          data: {id: id},
          success: function (result) {
            alert(result);
            $('#'+id).remove();

          }
  });
}
    
</script>
