*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 25px;
}

body{
    background-color: gray;
}
#chat{
    position: fixed;
    right: 10%;
    bottom: 0;
    width: 350px;
    height: 70%;
    background-color:  rgb(80, 83, 85);
}
.name_chat{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgb(40, 43, 46);
    color: white;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    line-height: 40px;
    /* text-align: center; */
    background-color: rgb(40, 43, 46);
    color: white;
}
.content_msg{
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #eee;
    overflow-y: scroll; 
    background-color: yellow;
}
#content{
    height: 30px;
    width: 200px;
    background-color: white;
}
.send_chat{
    background-color: rgb(93, 248, 62);
}
.adjust_{
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    margin-bottom: 5px;

}
.adjust_msg{
    padding: 10px;
    background-color: rgb(6, 6, 224);
    color: white;
    border-radius: 25px;

}
