<div class="form-content">
    <img src="../../assets/images/7.png" alt="Logo7" class="img-branch">
    <h2 style="color: red; font-size: 30pt; text-align: center;">CÔNG TY TNHH TM - DV MẠNH CƯỜNG</h2>
    <br>
    <p style="text-align: justify;">
        Công ty chúng tôi xin gửi lời chào và lời cảm ơn chân thành tới Quý khách hàng đã và đang sử dụng sản phẩm <a href="#">Sắt Thép Xây Dựng</a> các loại do công ty  phân phối và bán lẻ trong thời gian qua.
        <br><br>
        Với lĩnh vực kinh doanh <a href="#">Sắt Thép Xây Dựng</a> , và cung cấp với mức giá tốt nhất cho người xây dựng cũng như các công trình xây dựng.
        <br><br>
        <span>Công ty chúng tôi cũng đã cung ứng</span> sắt thép xây dựng cao cấp <span>cho các công trình nhà ở , các nhà thầu xây dựng với giá</span>  tốt hàng đầu thị trường sắt thép hiện nay.
    </p>
    <div class="nav1">
        Sat thep xay dung
    </div>
    <br>
    <div class="categorys">
        <a class="category" href="#">
            <img src="../../assets/images/10.png" alt="thep">
            <p>THÉP CUỘN VẰN VIỆT - ÚC</p>
        </a>
        <a class="category"  href="#">
            <img src="../../assets/images/11.png" alt="thep">
            <p>THÉP TẤM TRƠN VIỆT ÚC</p>
        </a>
        <a class="category"  href="#">
            <img src="../../assets/images/12.png" alt="thep">
            <p>THÉP TRÒN TRƠN VIỆT NHẬT</p>
        </a>
        <a class="category"  href="#">
            <img src="../../assets/images/10.png" alt="thep">
            <p>THÉP CUỘN POMINA</p>
        </a>
        <a class="category"  href="#">
            <img src="../../assets/images/15.png" alt="thep">
            <p>THÉP TẤM POMINA</p>
        </a>
        <a class="category"  href="#">
            <img src="../../assets/images/17.png" alt="thep">
            <p>THÉP TẤM VIỆT - NHẬT</p>
        </a>
    </div>
</div>

