<div class="left">
    <div id="accordion">
        <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseOne">
                Categories
              </a>
            </div>
            <div id="collapseOne" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <button type="button" class="btn btn-warning">Main Category</button>
                <button type="button" class="btn btn-warning">Add Category</button>
                <button type="button" class="btn btn-warning">Edit Category</button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                Products
              </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <button type="button" class="btn btn-warning">Main Product</button>
                <button type="button" class="btn btn-warning">Add Product</button>
                <button type="button" class="btn btn-warning">Edit Product</button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseThree">
                Members
              </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <button type="button" class="btn btn-warning">Main Member</button>
                <button type="button" class="btn btn-warning">Add Member</button>
                <button type="button" class="btn btn-warning">Edit Member</button>
              </div>
            </div>
          </div>
    </div>
    
</div>