<div class="left">
    <div id="accordion">
        <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseOne">
                Categories
              </a>
            </div>
            <div id="collapseOne" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <button type="button" class="btn btn-warning"><a href="Main_category">Main Category</a></button>
                <button type="button" class="btn btn-warning"><a href="Add_category">Add Category</a></button>
                <button type="button" class="btn btn-warning"><a href="Edit_category">Edit Category</a></button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                Products
              </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <button type="button" class="btn btn-warning"><a href="Main_product">Main Product</a></button>
                <button type="button" class="btn btn-warning"><a href="Add_product">Add Product</a></button>
                <button type="button" class="btn btn-warning"><a href="Edit_product">Edit Product</a></button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseThree">
                Members
              </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <button type="button" class="btn btn-warning"><a href="Main_member">Main Member</a></button>
                <button type="button" class="btn btn-warning"><a href="Add_member">Add Member</a></button>
                <button type="button" class="btn btn-warning"><a href="Edit_member">Edit Member</a></button>
              </div>
            </div>
          </div>
    </div>
    
</div>