<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="navbar">
      <ul class="navbar-nav">
            <a class="nav-item-trangchu" href="#">TRANG CHỦ</a>
            <a class="nav-link" href="#">GIỚI THIỆU</a>
            <a class="nav-link" href="#">THÉP XÂY DỰNG</a>
            <a class="nav-link" href="#">BÁO GIÁ THÉP</a>
            <a class="nav-link" href="#">VẬT LIỆU XÂY DỰNG</a>
            <a class="nav-link" href="#">LIÊN HỆ</a>
      </ul>
      <form class="search" >
            <input class="text_search" type="text" placeholder="Nhập Từ Khóa" name="search2">
            <button class="btn_search" type="submit"><i class="fa fa-search"></i></button>
      </form>
</div>

