

<header>
  <div class="container">
    header
  </div>
</header>

<nav>
  <div class="container">
    menu
  </div>
</nav>

<main>
  <div class="container">
    <div class="content">
      <div class="sidebar">
        <ul>
          <li><a routerLink="">Trang Chủ</a></li>
          <li><a routerLink="danh-muc/abc">Danh Mục</a></li>
          <li><a routerLink="san-pham/abc">Sản Phẩm</a></li>
          <li><a routerLink="dang-ky-thanh-vien.html">Đăng Ký</a></li>
          <li><a routerLink="dang-nhap.html">Đăng Nhập</a></li>
          <li><a routerLink="dang-ky-thanh-vien.html">Đăng Ký</a></li>
          <li><a routerLink="lien-he.html">Liên Hệ</a></li>
        </ul>
      </div>
      <div class="main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>

<footer>
  <div class="container">
    footer
  </div>
</footer>















<!-- <app-header [title] = "title"></app-header> -->


<!-- xuat ra bien  -->
<!-- {{title}} -->

<!-- dieu kien if  -->
<!-- <h2 *ngIf="title == 5"> okkkkkkkkkkkkkkkk</h2> -->

<!-- cau lenh switch -->
<!-- <select [ngSwitch]="title">
  <option *ngSwitchCase="1">1</option>
  <option *ngSwitchCase="2">2</option>
  <option *ngSwitchCase="3">3</option>
  <option *ngSwitchCase="4">4</option>
  <option *ngSwitchCase="5">5</option>
</select> -->

<!-- vong lap for -->
<!-- <ul *ngFor="let i of arr">
  <li *ngIf="i%2==0">{{i}}</li>
</ul> -->

<!-- form login -->
<!-- <h1>Login</h1>
<form >
  <div>
    <label for="Username">Username</label>
    <input type="text" id="Username" #txtusername>
  </div>
  <div>
    <label for="Password">Password</label>
    <input type="password" id="Password" #txtpassword>
  </div>
  <div>
    <button type="button" (click)="Login(txtusername,txtpassword)" >Login</button>
  </div>
  <p>{{lg}}</p>
</form>

<app-footer (acceptData)="acceptData($event)"></app-footer> -->


