.container{
    display: flex;
    margin: 0px;
}
.sidebar{
    float: left;
    width: 27.7%;
    background-color: #ffffff;
}
.content{
    float: left;
    width: 72.3%;
    background-color: #ffffff;
}
.footer{
    clear: left;
    float: none;
    margin-top: 45px;
}