<div class="form">
    <ul class="group-btn-form">
        <a class="btn-form-category">
          <a class="fa fa-bars" style="font-size:16px;color:white; background-color:#3b84b0;" href="##">DANH MỤC SẢN PHẨM</a>
        </a>
        <a class="btn-form" href="#">THÉP XÂY VIỆT-NHẬT</a>
        <a class="btn-form" href="#">LƯỚI THÉP</a>
        <a class="btn-form" href="#">SẢN PHẨM KHÁC</a>
        <a class="btn-form" href="#">THÉP HỘP</a>
        <a class="btn-form" href="#">THÉP VUÔNG</a>
        <a class="btn-form" href="#">THÉP HÌNH</a>
        <a class="btn-form" href="#">THÉP ỐNG</a>
        <a class="btn-form" href="#">THÉP CUỘN</a>
        <a class="btn-form" href="#">THÉP XÂY DỰNG</a>
  </ul>
</div>
