<div class="footer1">
    <ul class="footer3">
        <li><p>MẠNH CƯỜNG STEEL</p></li>
        <li>
            Chúng tôi, nhà phân phối sắt thép xây dựng Mạnh 
            Cường hôm nay xin gửi tới khách hàng, quý các công 
            một số thông tin về sản phẩm sắt thép mà chúng tôi đã cung cấp.
        </li>
        <li>Địa chỉ : 77 Đường số 1 ,KDC Bình Hưng, Xã Bình Hưng ,Bình Chánh.</li>
        <li>Số điện thoại : 0934509710 (Hòa )</li>
        <li>Gmail : satthepmanhcuongphat@gmail.com</li>
        <li>img.........</li>
    </ul>
    <ul class="footer2">
        <li><p>SITE MAPS</p></li>
        <li><a href="#">TRANG CHỦ</a></li>
        <li><a href="#">GIỚI THIỆU</a></li>
        <li><a href="#">THÉP XÂY DỰNG</a></li>
        <li><a href="#">BÁO GIÁ THÉP</a></li>
        <li><a href="#">VẬT LIỆU XÂY DỰNG</a></li>
        <li><a href="#">LIÊN HỆ</a></li>
    </ul>
    <ul class="footer2">
        <li><p>SẢN PHẨM</p></li>
        <li><a href="#">SẮT THÉP XÂY DỰNG MIỀN NAM</a></li>
        <li><a href="#">SẮT THÉP XÂY DỰNG VIỆT NHẬT</a></li>
        <li><a href="#">SẮT THÉP XÂY DỰNG POMINA</a></li>
        <li><a href="#">BÁO GIÁ THÉP</a></li>
        <li><a href="#">SẮT THÉP XÂY DỰNG VIỆT ÚC</a></li>
    </ul>
    <ul class="footer2">
        <li><p>FANPAGE</p></li>
    </ul>
</div>
