
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footer1">
    <div class="footer3">
        <p>MẠNH CƯỜNG STEEL</p>
        <ul>
            <li style="line-height: 1.5;">
                Chúng tôi, nhà phân phối sắt thép xây dựng Mạnh 
                Cường hôm nay xin gửi tới khách hàng, quý các công
                một số thông tin về sản phẩm sắt thép mà chúng tôi đã cung cấp.
            </li>
            <li class="detail_infor">
                <i class="fa fa-map-marker" style="font-size:30px;color:yellow;"></i>
                <p>Địa chỉ : 77 Đường số 1 ,KDC Bình Hưng, Xã Bình Hưng ,Bình Chánh.</p>
            </li>
            <li class="detail_infor" style="align-items: center;">
                <i class="fa fa-mobile-phone" style="color: yellow;font-size:33px"></i> 
                <p>Số điện thoại : 0934509710 (Hòa )</p>
            </li>
            <li class="detail_infor">
                <i class="fa fa-envelope" style="color: yellow;font-size:20px"></i>   
                <p>Gmail : satthepmanhcuongphat@gmail.com</p>
            </li>
            <li>
                <i class="fa fa-twitter icon"></i>
                <i class="fa fa-facebook icon"></i>
                <i class="fa fa-skype icon"></i>
                <i class="fa fa-youtube icon"></i>
                <i class="fa fa-google icon"></i>
            </li>
        </ul>
        
    </div>
    <div class="footer2">
        <p>SITE MAPS</p>
        <ul>
            <li><a href="#">TRANG CHỦ</a></li>
            <li><a href="#">GIỚI THIỆU</a></li>
            <li><a href="#">THÉP XÂY DỰNG</a></li>
            <li><a href="#">BÁO GIÁ THÉP</a></li>
            <li><a href="#">VẬT LIỆU XÂY DỰNG</a></li>
            <li><a href="#">LIÊN HỆ</a></li>
        </ul>
    </div>
    <div class="footer2">
        <p>SẢN PHẨM</p>
        <ul>
            <li><a href="#">SẮT THÉP XÂY DỰNG MIỀN NAM</a></li>
            <li><a href="#">SẮT THÉP XÂY DỰNG VIỆT NHẬT</a></li>
            <li><a href="#">SẮT THÉP XÂY DỰNG POMINA</a></li>
            <li><a href="#">BÁO GIÁ THÉP</a></li>
            <li><a href="#">SẮT THÉP XÂY DỰNG VIỆT ÚC</a></li>
        </ul>
    </div>
    <div class="footer2">
        <p>FANPAGE</p>
        <img src="../../assets/images/6.png" alt="face">
    </div>
</div>
