
.footer1{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
    background-color: black;
    padding-bottom: 25px;
}
.footer1 ul{
    padding-left: 0px;
}
.footer2{
    box-sizing: border-box;
}
.footer2 p{
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 45px;
    margin-bottom: 30px;
}
.footer2 li a{
    text-decoration: none;
    color:#ffffff;
}
.footer2 ul li{
     padding-bottom: 35px;
     color: yellow;
     list-style-position: inside;
}
.footer3{
    width: 25%;
}
.footer3 li{
    list-style: none;
    font-size: 12pt;  
    font-family: Arial, Helvetica, sans-serif; 
    
}
.footer3 ul li{
    text-align: justify;
    padding-bottom: 30px;
}
.footer3 p{
    font-size: 25pt;
    font-family: Arial, Helvetica, sans-serif; 
    margin-top: 45px;
    margin-bottom: 30px;
    margin-left: 0px;
}
.detail_infor{
    display: flex;
    margin-top: 0px;
}
.detail_infor p{
    font-size: 12pt; 
    margin: 0px 10px;
}
.icon {
    font-size: 30px;
    width: 50px;
    text-decoration: none;
  }
